<div class="login-page">
    <div class="login-container">
      <div class="login-box">
        <h1 class="login-box__title">Bem-vindo de Volta!</h1>
        <p class="login-box__subtitle">Faça login para continuar</p>
        <button (click)="login()" class="login-box__button">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/AWS_Simple_Icons_AWS_Cloud.svg" alt="AWS Logo" class="login-box__button-icon">
          Entrar com AWS Cognito
        </button>
        <p class="login-box__terms">
          Ao continuar, você concorda com nossos <a href="#">Termos de Serviço</a> e <a href="#">Política de Privacidade</a>.
        </p>
      </div>
    </div>
  </div>